<h1>Listing appliances</h1>

<table>
  <thead>
    <tr>
      <th>Oven</th>
      <th>Power</th>
      <th>Microwave</th>
      <th>Power</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appliances.each do |appliance| %>
      <tr>
        <td><%= appliance.oven %></td>
        <td><%= appliance.power %></td>
        <td><%= appliance.microwave %></td>
        <td><%= appliance.power %></td>
        <td><%= link_to 'Show', appliance %></td>
        <td><%= link_to 'Edit', edit_appliance_path(appliance) %></td>
        <td><%= link_to 'Destroy', appliance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appliance', new_appliance_path %>
