<p id="notice"><%= notice %></p>

<p>
  <strong>Oven:</strong>
  <%= @appliance.oven %>
</p>

<p>
  <strong>Power:</strong>
  <%= @appliance.power %>
</p>

<p>
  <strong>Microwave:</strong>
  <%= @appliance.microwave %>
</p>

<p>
  <strong>Power:</strong>
  <%= @appliance.power %>
</p>

<%= link_to 'Edit', edit_appliance_path(@appliance) %> |
<%= link_to 'Back', appliances_path %>
