<%= form_for @thermometer, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :location, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :maxtemp, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :maxtemp, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :power, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :power, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :current_temp, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :current_temp, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_id, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                thermometers_path, :class => 'btn' %>
  </div>
<% end %>
