<p id="notice"><%= notice %></p>

<p>
  <strong>Song:</strong>
  <%= @music.song %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @music.artist %>
</p>

<%= link_to 'Edit', edit_music_path(@music) %> |
<%= link_to 'Back', musics_path %>
